<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="co.joebirch.androidqplayground">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


            <meta-data android:name="android.app.shortcuts"
                       android:resource="@xml/shortcuts" />
        </activity>

        <activity android:name=".SettingsPanelActivity"/>
        <activity android:name=".LocationActivity"/>
        <activity android:name=".WifiConnectActivity"/>
        <activity android:name=".ShareActivity">
            <!-- This activity can respond to Intents of type SEND -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- Only needed if you import the sharetarget AndroidX library that
                 provides backwards compatibility with the old DirectShare API.
                 The activity that receives the Sharing Shortcut intent needs to be
                 taken into account with this chooser target provider. -->
            <meta-data
                    android:name="android.service.chooser.chooser_target_service"
                    android:value="androidx.sharetarget.ChooserTargetServiceCompat" />

        </activity>

    </application>

</manifest>